<AuToolbar @border="bottom" class="au-u-padding-bottom-none" as |Group|>
  <Group>
    <MultiTabs />
  </Group>
  <Group>
    <AuButton
      class="au-u-padding-right"
      @skin="link"
      @disabled={{this.isFiltersDisabled}}
      {{on "click" @onShowFiltersPage}}
    >Sorteer en filter</AuButton>
  </Group>
</AuToolbar>
{{#if this.hasFilters}}
  <div class="filters-topbar-active-filters">
    <div class="pills">
      {{#each this.filterValues as |keyValue|}}
        <AuPill
          @actionIcon="cross"
          @actionText="close"
          id={{keyValue.key}}
          @onClickAction={{fn this.removeFilter keyValue}}
        >{{keyValue.value}}</AuPill>
      {{/each}}
    </div>
    <div id="reset-button">
      <AuButton
        @skin="link"
        {{on "click" @onFilterReset}}
        class="au-u-bold"
      >Reset filters</AuButton>
    </div>
  </div>
{{/if}}