<div class="filters-topbar-go-to-filters">
  <AuButton
    @skin="link"
    @disabled={{not this.itemsService.isFirstPageLoaded}}
    {{on "click" @onShowFiltersPage}}
  >Sorteer en filter</AuButton>
</div>
{{#if this.hasFilters}}
  <div class="filters-topbar-active-filters">
    <div class="pills">
      {{#each this.filterValues as |keyValue|}}
        <AuPill
          @icon="cross"
          @iconAlignment="right"
          {{on "click" (fn this.removeFilter keyValue.key)}}
        >{{keyValue.value}}</AuPill>
      {{/each}}
    </div>
    <AuButton
      @skin="link"
      {{on "click" @onFiltersUpdated}}
      class="au-u-bold"
    >Reset filters</AuButton>
  </div>
{{/if}}