<div class="accordion {{if @showBottomBorder "border" ""}}" ...attributes>
  <AuToolbar
    class="accordion-toolbar"
    @nowrap={{true}}
    @reverse={{@reverse}}
    {{on "click" this.toggleAccordion}}
    as |Group|
  >
    <Group>
      {{#if @badgeIcon}}
        <AuBadge @icon={{@badgeIcon}} @skin="border" class="accordion-badge" />
      {{/if}}
      <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center status">
        <AuButton
          @skin="link"
          aria-expanded="{{if this.isOpen 'true' 'false'}}"
        >
          {{@buttonLabel}}
        </AuButton>
        {{#if @pillText}}
          <AuPill @icon={{@pillIcon}}>{{@pillText}}</AuPill>
        {{/if}}
      </div>
    </Group>
    <Group>
      <AuIcon
        @icon={{if this.isOpen this.iconOpen this.iconClosed}}
        @alignment="left"
        @size="large"
        @ariaHidden={{true}}
      />
    </Group>
  </AuToolbar>
  {{#if this.isOpen}}
    <AuContent tabindex="0" class="au-u-padding-top au-u-padding-left-tiny">
      {{#if this.loading}}
        <AuLoader />
      {{else}}
        {{yield}}
      {{/if}}
    </AuContent>
  {{/if}}
</div>