<li>
  {{! template-lint-disable no-invalid-interactive }}
  <article class="c-agenda-item-card" {{on "click" this.goToAgendaItem}}>
    <AuHeading @level="2" @skin="5">
      <AuLink @route="agenda-items.agenda-item" @model={{@item.id}}>
        {{@item.titleResolved}}
      </AuLink>
    </AuHeading>
    {{#if @item.description}}
      <p class="au-u-base c-agenda-item-card__content">{{@item.description}}</p>
    {{/if}}
    <div class="au-u-margin-top-tiny au-u-muted">
      {{@item.dateFormatted}}
      •
      {{@item.governingBodyClassificationNameResolved}}
    </div>
  </article>
</li>