<div
  class="{{@class}}
    u-overflow-padding u-overflow-y-scroll infinite-scroll-height"
  {{on "scroll" this.scroll}}
  tabindex="-1"
>
  <ul class="c-infinite-list">
    {{yield}}
  </ul>
  <div class="au-u-flex au-u-flex--center au-u-padding-top">
    {{#if this.showScrollToTopButton}}
      <div id="scroll-to-top-button">
        <AuBadge
          {{on "click" this.scrollToTop}}
          @skin="action"
          @icon="chevron-up"
          class="accordion-badge icon-color--primary"
        />
      </div>
    {{/if}}
    {{#if (and @isLoading this.moreDataToLoad)}}
      <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>
    {{/if}}
  </div>
</div>