{{#if this.isLoadingInitialValues}}
  <LoaderFullPage @content="Agendapunten aan het laden" />
{{else if this.hasItems}}
  <InfiniteList
    @loadMore={{this.loadMoreItems}}
    @isLoading={{this.isLoading}}
    @itemsShown={{this.items.length}}
    @itemsAmount={{this.totalItems}}
  >
    {{#each this.items as |item|}}
      <AgendaItemCard @item={{item}} />
    {{/each}}
  </InfiniteList>
{{else}}
  <div class="au-o-box">
    <AuAlert
      @size="small"
      @skin="warning"
      @icon="info-circle"
      @title="Er werden geen zoekresultaten gevonden."
    />
  </div>
{{/if}}