{{page-title this.model.agendaItem.titleFormatted}}
<AuModalContainer />

<div id="route-detail">
  <div class="au-u-flex au-u-flex--column">
    <AuHeading @level="1" @skin="3" class="au-o-box au-u-padding-right-small">
      {{this.model.agendaItem.titleFormatted}}
    </AuHeading>
    {{#if this.model.agendaItem.wasHandled}}
      <div class="banner-decided">
        <AuIcon @icon="decided" />
        <p>Dit werd behandeld</p>
      </div>
    {{/if}}
    <div class="au-u-padding-left au-u-padding-right au-u-padding-top-small">
      <ul class="c-description-list">
        {{#if
          (and
            this.showMunicipality this.model.agendaItem.session.locationLevel
          )
        }}
          <li>
            <AuIcon @size="large" @icon="location" />
            <span
              class="au-u-hidden-visually"
            >{{this.model.agendaItem.session.locationLevel}}:</span>
            <AuLink @route="agenda-items" @query={{this.municipalityQuery}}>
              {{#if this.model.agendaItem.session.municipality}}
                {{this.model.agendaItem.session.locationLevel}}
                {{this.model.agendaItem.session.municipality}}
              {{else}}
                Geen
                {{lower-case this.model.agendaItem.session.locationLevel}}
              {{/if}}
            </AuLink>
          </li>
        {{/if}}
        {{#if this.model.agendaItem.session.classification}}
          <li>
            {{! TODO update the icon to university }}
            <AuIcon @size="large" @icon="decided" />
            <span class="au-u-hidden-visually">Bestuursorgaan:</span>
            {{this.model.agendaItem.session.classification}}
          </li>
        {{/if}}
        <li>
          <AuIcon @size="large" @icon="calendar" />
          <span class="au-u-hidden-visually">Planning:</span>
          {{#if this.model.agendaItem.session.dateFormatted}}
            {{this.model.agendaItem.session.dateFormatted}}
          {{else}}
            Onbekend
          {{/if}}
        </li>
      </ul>
      <AuHr class="lighter" />
    </div>
    <div class="au-u-padding-left au-u-padding-right">
      <h1 class="au-u-muted au-u-medium">BESCHRIJVING</h1>
      <p class="au-u-muted au-u-word-break">
        {{#if this.model.agendaItem.description}}
          {{this.model.agendaItem.description}}
        {{else}}
          We hebben geen beschrijving ontvangen voor dit agendapunt.
        {{/if}}
      </p>
    </div>
    <div class="au-o-box">
      <Accordion
        @buttonLabel="Besluit"
        @badgeIcon="report"
        @showBottomBorder={{true}}
      >
        {{#let this.firstResolution as |resolution|}}
          {{#if resolution.value}}
            {{#if (is-pdf-url resolution.value)}}
              <AuLinkExternal
                href={{resolution.value}}
                @skin="small"
                @iconAlignment="right"
                @icon="external-link"
              >
                Open besluit
              </AuLinkExternal>
            {{else}}
              <div class="artikel-box">
                {{! TODO: This title should be the artikel mentioned int he value? + remove the artikel name from the value }}
                <div class="artikel-box--title">Artikel 1</div>
                <div class="artikel-box--value">
                  {{resolution.value}}
                </div>
              </div>
            {{/if}}
          {{else}}
            <AuAlert
              @skin="warning"
              @size="small"
              @icon="alert-triangle"
              @title="Besluit niet beschikbaar"
            >
              {{#if this.model.agendaItem.wasHandled}}
                <p>De data voor dit agendapunt is nog niet beschikbaar.</p>
              {{else}}
                <p>Dit agendapunt werd nog niet behandeld.</p>
              {{/if}}
            </AuAlert>
          {{/if}}
          {{#if resolution.motivation}}
            <div>
              <p class="au-u-muted au-u-medium">MOTIVERING</p>
              <p class="au-u-muted au-u-word-break">
                {{resolution.motivation}}
              </p>
            </div>
          {{/if}}
        {{/let}}
      </Accordion>

      {{#if this.hasArticles}}
        <Accordion
          @buttonLabel="Artikels"
          @badgeIcon="book"
          @showBottomBorder={{true}}
        >
          {{#each this.model.articles as |article|}}
            <div class="artikel-box">
              <div class="artikel-box--title">{{article.number}}</div>
              <div class="artikel-box--value">
                <p>{{article.value}}</p>
              </div>
            </div>
          {{/each}}
        </Accordion>
      {{/if}}

      <Accordion
        @buttonLabel="Stemming"
        @badgeIcon="vote"
        @pillText={{this.stemmingStatusPillText}}
        @pillIcon={{this.stemmingStatusPillIcon}}
        @showBottomBorder={{true}}
      >
        {{#if this.model.vote}}
          <VoteOverview @vote={{this.model.vote}} />
        {{else}}
          <AuAlert
            @skin="warning"
            @size="small"
            @icon="alert-triangle"
            @title="Stemming niet beschikbaar"
          >
            {{#if this.model.agendaItem.wasHandled}}
              <p>De data voor dit agendapunt is nog niet beschikbaar.</p>
            {{else}}
              <p>Dit agendapunt werd nog niet behandeld.</p>
            {{/if}}
          </AuAlert>
        {{/if}}
      </Accordion>
      {{! TODO update the icon to file-tasks-check }}
      <Accordion
        @buttonLabel="Bronnen &amp; kwaliteit"
        @badgeIcon="document-added"
        @showBottomBorder={{true}}
      >
        {{#if this.model.agendaItem.alternateLink}}
          <div>
            <p class="au-u-muted au-u-medium">BRONNEN</p>
            <p>De
              {{lower-case this.model.agendaItem.session.locationLevel}}
              heeft dit agendapunt vermeld op de volgende URL's:</p>
            <AuList @divider={{true}} as |Item|>
              {{#each this.model.agendaItem.alternateLink as |alternateLink|}}
                <Item class="cutoff-link">
                  {{#if alternateLink}}
                    <AuLinkExternal
                      href={{alternateLink}}
                      class="au-u-flex--inline"
                      {{! TODO fix the 3 dots}}
                    >
                      <AuPill>{{document-type alternateLink}}</AuPill>
                      {{alternateLink}}
                    </AuLinkExternal>
                  {{/if}}
                </Item>
              {{/each}}
            </AuList>
          </div>
        {{/if}}
        <div>
          <p class="au-u-muted au-u-medium">DATAKWALITEIT</p>
          <p class="au-u-margin-bottom-small">Overzicht van aanwezigheid per
            element</p>
          <AuList @divider={{false}} as |Item|>
            {{#each
              this.model.agendaItem.agendaItemQualityMetrics
              as |qualityMetric|
            }}
              <Item class="au-u-padding-bottom-tiny">
                {{#if qualityMetric.value}}
                  <AuBadge @icon="check" @skin="success" @size="small" />
                  <p class="au-u-flex--inline au-u-padding-left-small">
                    {{qualityMetric.label}}
                  </p>
                {{else}}
                  <AuBadge @icon="cross" @skin="error" @size="small" />
                  <p class="au-u-flex--inline au-u-padding-left-small">
                    {{qualityMetric.label}}
                  </p>
                {{/if}}
              </Item>
            {{/each}}
          </AuList>
        </div>
        <div class="au-c-content au-c-content--small">
          <p>Om na te gaan of besturen voldoen aan de gelinkte publicatieplicht,
            heeft ABB enkel gekeken naar de webtoepassing waarop besturen
            gelinkte publicaties publiceren. Enkel de documenten die gelinkt
            gepubliceerd zijn en automatisch van de webtoepassing gehaald konden
            worden, zijn verder bekeken.</p>
          <p><AuLink @route="data-quality">Meer informatie over de data
              kwaliteit</AuLink></p>
        </div>
      </Accordion>
    </div>
    <aside class="au-o-grid__item au-u-2-6@medium">
      <div class="u-top-sticky">
        <AuContent>
          {{#if this.model.agendaItemOnSameSession}}
            <h2 class="au-u-h4 au-u-medium">
              <AuLink
                class="au-u-medium link-without-line"
                @route="agenda-items.session"
                @model="{{this.model.agendaItem.id}}"
              >
                Volledige agenda
              </AuLink>
              van
              {{this.model.agendaItem.session.formattedPlannedDate}}
            </h2>
            {{#if this.model.agendaItemOnSameSession}}
              <ol class="less-margin">
                {{#each this.model.agendaItemOnSameSession as |agendaItem|}}
                  <li>
                    {{! if the agendaItem.id is equal to the current agendaItem then display "Huidige agendapunt" }}
                    {{#if (eq agendaItem.id this.model.agendaItem.id)}}
                      <p class="au-u-medium">Huidige agendapunt</p>
                    {{else}}
                      <MbpEmbed::OpenInNewEmbed
                        @id={{agendaItem.id}}
                        @routeName="agenda-items.agenda-item"
                      >
                        <p class="truncate">
                          {{agendaItem.titleFormatted}}
                        </p>
                      </MbpEmbed::OpenInNewEmbed>
                    {{/if}}
                  </li>
                {{/each}}
              </ol>
            {{/if}}
          {{/if}}
          {{#if (is-pending this.model.similarAgendaItemsPromise)}}
            <AuHeading @level="2" @skin="4">
              {{#if this.keywordStore.keyword}}
                Meer relevante info over
                <AuLink
                  class="au-u-medium"
                >{{this.keywordStore.keyword}}</AuLink>
              {{else}}
                Gerelateerde agendapunten
              {{/if}}
              {{#if this.showMunicipality}}
                in
                <AuLink
                  @route="agenda-items"
                  @query={{this.municipalityQuery}}
                  class="au-u-medium"
                >{{this.model.agendaItem.session.municipality}}</AuLink>
              {{/if}}
              worden geladen...
            </AuHeading>
          {{else}}
            {{#let
              (await this.model.similarAgendaItemsPromise)
              as |similarAgendaItems|
            }}
              {{#if
                (and
                  this.model.agendaItem.session.hasMunicipality
                  similarAgendaItems.length
                )
              }}
                <AuHeading @level="2" @skin="4">
                  {{#if this.keywordStore.keyword}}
                    Meer relevante info over
                    <AuLink
                      class="au-u-medium"
                    >{{this.keywordStore.keyword}}</AuLink>
                  {{else}}
                    Meer agendapunten
                  {{/if}}
                  {{#if this.showMunicipality}}
                    in
                    <AuLink
                      @route="agenda-items"
                      @query={{this.municipalityQuery}}
                      class="au-u-medium link-without-line"
                    >{{this.model.agendaItem.session.municipality}}</AuLink>
                  {{/if}}
                </AuHeading>
                <ol class="less-margin">
                  {{#each similarAgendaItems as |agendaItem|}}
                    <li class="au-u-margin-top-small">
                      <MbpEmbed::OpenInNewEmbed
                        @id={{agendaItem.id}}
                        @routeName="agenda-items.agenda-item"
                      >
                        <p class="truncate">
                          {{agendaItem.titleFormatted}}
                        </p>
                      </MbpEmbed::OpenInNewEmbed>
                    </li>
                  {{/each}}
                </ol>
              {{/if}}
            {{/let}}
          {{/if}}
        </AuContent>
      </div>
    </aside>
  </div>
</div>