<AuModalContainer />
<AuBodyContainer>
  <Agendapunten::FiltersTopbar
    @filters={{this.filters}}
    @keysToHide={{this.filterKeysToHide}}
    @onShowFiltersPage={{fn (mut this.hasFilter) true}}
    @onFiltersUpdated={{this.updateFilters}}
  />
  <div class="c-interface">
    <InfiniteListAgendaItemWrapper />
    <FilterSidebarWrapper
      @hasFilter={{this.hasFilter}}
      @hideFilter={{this.hideFilter}}
    />
  </div>
</AuBodyContainer>