{{page-title "Zitting"}}

<AuModalContainer />
<div id="route-detail">
  <div class="au-u-flex au-u-flex--column">
    <AuHeading @level="1" @skin="3" class="au-o-box au-u-padding-right-small">
      {{@model.session.titleFormatted}}
    </AuHeading>
    {{#if @model.session.agendaItem.wasHandled}}
      <div class="banner-decided">
        <AuIcon @icon="decided" />
        <p>Dit werd behandeld</p>
      </div>
    {{/if}}
    <div class="au-u-padding-left au-u-padding-right au-u-padding-top-small">
      <ul class="c-description-list">
        {{#if (and this.showMunicipality @model.session.locationLevel)}}
          <li>
            <AuIcon @size="large" @icon="location" />
            <span
              class="au-u-hidden-visually"
            >{{@model.session.locationLevel}}:</span>
            <AuLink @route="agenda-items" @query={{this.municipalityQuery}}>
              {{#if @model.session.municipality}}
                {{@model.session.locationLevel}}
                {{@model.session.municipality}}
              {{else}}
                Geen
                {{lower-case @model.session.locationLevel}}
              {{/if}}
            </AuLink>
          </li>
        {{/if}}
        {{#if @model.session.classification}}
          <li>
            {{! TODO update the icon to university }}
            <AuIcon @size="large" @icon="decided" />
            <span class="au-u-hidden-visually">Bestuursorgaan:</span>
            {{@model.session.classification}}
          </li>
        {{/if}}
        <li>
          <AuIcon @size="large" @icon="calendar" />
          <span class="au-u-hidden-visually">Planning:</span>
          {{#if @model.session.dateFormatted}}
            {{@model.session.dateFormatted}}
          {{else}}
            Onbekend
          {{/if}}
        </li>
      </ul>
      <AuHr class="lighter" />
    </div>
    <div class="au-o-box au-u-padding-top-none">
      <Accordion
        @buttonLabel="Gepubliceerde agendapunten"
        @badgeIcon="bookmark"
        @showBottomBorder={{true}}
      >
        {{#if @model.agendaItems.isRunning}}
          <div class="loading-spinner">
            <AuLoader
              @centered={{false}}
              @inline={{true}}
              class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center au-u-margin-top"
            >Agendapunten aan het laden</AuLoader>
          </div>
        {{else}}
          <AuList class="au-u-margin-top" as |Item|>
            <ol type="1" class="less-margin">
              {{#each this.agendaItems as |item|}}
                <Item class="au-u-flex au-u-margin-bottom-small">
                  <OpenLinkAsEmbed
                    @id={{item.id}}
                    @routeName="sessions.session"
                  >
                    {{item.titleFormatted}}
                  </OpenLinkAsEmbed>
                </Item>
              {{else}}
                <AuAlert
                  @skin="warning"
                  @title="Geen agendapunten gevonden"
                  class="au-u-margin-top au-u-margin-bottom"
                />
              {{/each}}
            </ol>
          </AuList>
        {{/if}}
      </Accordion>
      <AuContent class="au-u-margin-top">
        <AuHeading @level="2" @skin="4" class="au-u-margin-top-small">
          Andere zittingen
          {{#if this.showMunicipality}}
            van
            <AuLink
              @route="sessions.index"
              @query={{this.govBodyQuery}}
              class="au-u-medium link-without-line"
            >
              {{@model.session.governingBodyNameResolved}}
            </AuLink>
          {{/if}}
        </AuHeading>
        {{#if @model.otherSessions.isRunning}}
          <AuLoader
            @centered={{false}}
            class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center"
          >Zittingen aan het laden</AuLoader>
        {{else}}
          {{#if this.otherSessions.sessions}}
            <AuList class="au-u-margin-top" as |Item|>
              <ol type="1" class="less-margin">
                {{#each this.otherSessions.sessions as |otherSessions|}}
                  <Item class="au-u-flex au-u-margin-bottom-small">
                    <OpenLinkAsEmbed
                      @id={{otherSessions.id}}
                      @routeName="sessions.session"
                    >
                      {{otherSessions.dateFormatted}}
                    </OpenLinkAsEmbed>
                  </Item>
                {{/each}}
              </ol>
            </AuList>
          {{else}}
            <AuAlert
              @skin="warning"
              @title="Geen andere zittingen gevonden"
              class="au-u-margin-top au-u-margin-bottom"
            />
          {{/if}}
        {{/if}}
        <AuHr class="lighter" />
        <AuHeading @level="2" @skin="4" class="au-u-margin-top-small">
          Andere organen
        </AuHeading>
        {{#if @model.governingBodies.isRunning}}
          <div class="loading-spinner">
            <AuLoader
              @centered={{false}}
              @inline={{true}}
              class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center au-u-margin-top"
            >Organen aan het laden</AuLoader>
          </div>
        {{else}}
          <AuList class="au-u-margin-top" as |Item|>
            <ol type="1" class="less-margin">
              {{#each this.governingBodies as |govBody|}}
                <Item class="au-u-flex au-u-margin-bottom-small">
                  <AuLink
                    @route="sessions.index"
                    @query={{hash
                      bestuursorganen=govBody.id
                      gemeentes=@model.session.municipality
                    }}
                  >
                    {{govBody.label}}
                  </AuLink>
                </Item>
              {{/each}}
            </ol>
          </AuList>
          {{#unless this.governingBodies}}
            <AuAlert
              @skin="warning"
              @title="Geen andere organen gevonden"
              class="au-u-margin-top au-u-margin-bottom"
            />
          {{/unless}}
        {{/if}}
      </AuContent>
    </div>
  </div>
</div>