{{page-title "Bronnen & kwaliteit"}}

<div class="au-o-region">
  <div class="au-o-layout">
    <AuContent class="au-u-3-4@medium">
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small">
        <AuBadge
          @icon="document-added"
          @skin="border"
          class="accordion-badge icon-color--primary"
        />
        <AuHeading>Bronnen &amp; kwaliteit</AuHeading>
      </div>
      <AuHeading @level="2" @skin="2">Aanpak</AuHeading>
      <p>Om na te gaan of besturen voldoen aan de gelinkte publicatieplicht,
        heeft ABB enkel gekeken naar de webtoepassing waarop besturen gelinkte
        publicaties publiceren. Enkel de documenten die gelinkt gepubliceerd
        zijn en automatisch van de webtoepassing gehaald konden worden, zijn
        verder bekeken.</p>
      <AuHeading @level="2" @skin="2">Indicatoren</AuHeading>
      <AuList @divider={{true}} as |Item|>
        <Item>
          <div
            class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center"
          >
            <AuBadge @icon="check" @skin="success" @size="small" />
            <p>
              Alle gevonden documenten of meldingen bevatten dit verplicht in te
              vullen attribuut.
            </p>
          </div>
        </Item>
        <Item>
          <div
            class="au-u-flex au-u-flex--spaced-small au-u-flex--vertical-center"
          >
            <AuBadge @icon="cross" @skin="error" @size="small" />
            <p>
              Er zijn geen documenten gevonden of geen melding ontvangen met dit
              verplicht in te vullen attribuut.
            </p>
          </div>
        </Item>
      </AuList>

      <AuHeading @level="2" @skin="2">Welke informatie wordt weergegeven?</AuHeading>
      <p>
        Elke dag nemen burgemeesters, colleges en gemeenteraden in Vlaanderen
        beslissingen.
        <br />
        <br />
        Toch blijven deze agendapunten en besluiten vaak moeilijk vindbaar.
        Daarom bouwde ABB “Lokaal Beslist”. Lokaal Beslist bevat zo goed als
        alle agendapunten en eventuele besluiten die lokale besturen als
        gelinkte open data publiceren via hun website. Deze informatie wordt
        automatisch opgehaald en verzameld in deze centrale databank. Op die
        manier kan gemakkelijk gezocht worden tussen de agendapunten van Vlaamse
        gemeenten. Ook kan, indien correct gepubliceerd, bekeken worden of het
        agendapunt al dan niet behandeld werd en wat de gemeente uiteindelijk
        beslist heeft.</p>

      <AuHeading @level="2" @skin="2">Wat is gelinkt publiceren?</AuHeading>

      <p>
        Lokale besturen maken agendapunten, besluiten en notulen volgens een
        specifieke standaard op, zodat machines deze kunnen lezen. Deze
        informatie wordt gepubliceerd, waardoor de mogelijkheden om gegevens te
        hergebruiken onbeperkt zijn. Het doel van gelinkt publiceren is om
        informatie uit besluiten vindbaar en herbruikbaar te maken voor
        iedereen.
      </p>

      <AuHeading @level="2" @skin="2">De data is soms onvolledig, hoe komt dat?</AuHeading>

      <p>
        Sinds 30 juni 2021 zijn lokale besturen in Vlaanderen wettelijk
        verplicht om specifieke agendapunten, besluiten en notulen gelinkt te
        publiceren. Zo wordt deze informatie voor iedereen toegankelijk. Meer
        informatie over de gelinkte publicatieplicht:
        <AuLinkExternal
          href="https://www.vlaanderen.be/lokaal-bestuur/publicatieplicht"
        >
          Publicatieplicht
        </AuLinkExternal>
      </p>

      <p>
        Naast de verplichte publicatieplicht zijn lokale besturen vrij om extra
        informatie te publiceren die niet wettelijk verplicht is. Daarom zie je
        bij sommige gemeenten soms meer informatie verschijnen zoals stemmingen
        en artikels dan bij andere gemeenten.
      </p>
      <p>
        Lokaal Beslist haalt de beschikbare informatie automatisch op bij het
        lokaal bestuur. Dat wil zeggen dat we enkel de informatie kunnen tonen
        die het bestuur correct heeft gepubliceerd én die onze applicatie ook
        effectief kan vinden. Daardoor kan informatie in Lokaal Beslist dus
        onvolledig zijn.
      </p>
      <p>
        We werken samen met lokale besturen aan verdere optimalisatie en
        uitbreiding van de gegevensverzameling. Door als gebruiker feedback te
        geven, kan je hieraan ook meewerken.
      </p>

      {{#if (is-feature-enabled "statistics-page-feature")}}

        <AuHeading @level="2" @skin="2">Statistieken</AuHeading>
        <p>
          Hieronder vind je een overzicht van de datakwaliteit van de gelinkte
          publicaties van de gemeenten in Vlaanderen. Om meer informatie over de
          kwaltiet van agendapunten in uw gemeente te krijgen kan u deze
          selecteren in de dropdown.
        </p>

        <PowerSelect
          @onChange={{this.handleMunicipalityChange}}
          @selected={{this.selectedMunicipality}}
          @options={{this.municipalities}}
          @allowClear={{true}}
          @searchField="label"
          @placeholder="Alle gemeentes"
          @noMatchesMessage="Geen gemeentes gevonden"
          @searchMessage="Aan het zoeken..."
          @searchEnabled={{true}}
          as |municipality|
        >
          {{municipality.label}}
        </PowerSelect>
        <AuList @divider={{true}} as |Item|>
          {{#if this.currentlyLoading}}
            <AuLoader @hideMessage={{true}}>Aan het laden</AuLoader>

          {{else}}
            <Item>
              <div
                class="au-u-flex au-u-flex--spaced-small au-u-flex--between au-u-margin-top au-u-margin-bottom"
              >
                <section
                  class="au-u-flex au-u-flex--column au-u-1-1 au-u-text-center au-u-flex--center au-u-flex--center"
                >
                  <p class="au-u-bold">
                    Totaal
                  </p>
                  <p class="au-c-heading au-c-heading--3">
                    {{this.model.totalCountAgendaItems}}
                  </p>
                </section>
                <section
                  class="au-u-flex au-u-flex--column au-u-1-1 au-u-text-center au-u-flex--center"
                >
                  <p class="au-u-bold">
                    Met titel en omschrijving
                  </p>
                  <p class="au-c-heading au-c-heading--3">
                    {{this.model.percentageAgendaItemsWithTitleAndDescriptionToTotal}}%
                  </p>
                </section>
                <section
                  class="au-u-flex au-u-flex--column au-u-1-1 au-u-text-center au-u-flex--center"
                >
                  <p class="au-u-bold">
                    Behandeld
                  </p>
                  <p class="au-c-heading au-c-heading--3">
                    {{this.model.percentageAgendaItemsTreatedToTotal}}%
                  </p>
                </section>
                <section
                  class="au-u-flex au-u-flex--column au-u-1-1 au-u-text-center au-u-flex--center"
                >
                  <p class="au-u-bold">
                    Met stemmingen
                  </p>
                  <p class="au-c-heading au-c-heading--3">
                    {{this.model.percentageAgendaItemsWithVoteOrVotersToTotal}}%
                  </p>
                </section>
              </div>
            </Item>

            <div
              class="au-u-flex au-u-flex--column au-u-flex--spaced-small au-u-1-1"
            >
              <AuHeading
                class="au-u-margin-bottom-tiny"
                @level="3"
                @skin="3"
              >Aantal agendapunten per bestuursorgaan classificatie</AuHeading>

              <GraphBarRow
                @name="Totaal"
                @percentage={{100}}
                @count={{this.model.totalCountAgendaItems}}
              />
              {{#each
                this.model.agendaItemsPerGoverningBodyClassification
                as |item|
              }}
                <GraphBarRow
                  @name={{item.classification}}
                  @percentage={{item.percentage}}
                  @count={{item.count}}
                />
              {{/each}}
            </div>
          {{/if}}
        </AuList>
      {{/if}}
    </AuContent>

  </div>
</div>