{{page-title "Filter"}}
<div class="filters-topbar-go-to-filters au-u-margin-bottom">
  <div class="au-u-flex au-u-flex--end">
    <AuButton @skin="link" {{on "click" this.resetFilters}}>
      Reset filters
    </AuButton>
  </div>
  <AuHr />
</div>
<div class="c-interface__sidebar-main au-u-padding-left au-u-padding-right">
  <section class="au-u-flex au-u-flex--column">
    <AuLabel for="sort-on">Sorteren</AuLabel>
    <select
      id="sort-on"
      type="select"
      {{on "change" this.updateSorting}}
      class="au-c-input au-u-1-1 au-u-max-width-xsmall@small"
    >
      <option value="desc" selected={{this.isFilterDescending}}>Nieuwste eerst</option>
      <option value="asc" selected={{this.isFilterAscending}}>Oudste eerst</option>
    </select>
  </section>
  <AuHr />
  {{!-- TODO: the filter is not reactive with the filters --}}
  <Filters::DateRangeFilter
    @startQueryParam="begin"
    @endQueryParam="eind"
    @start={{this.startDate}}
    @end={{this.endDate}}
    @updateSelected={{this.updateSelectedDateRange}}
  />
  <Filters::SelectRadioButtonFilter
    @id="status"
    @label="Status agendapunten"
    @options={{this.statusOfAgendaItemsOptions}}
    @selected={{this.status}}
    @updateSelected={{this.setStatus}}
    @queryParam="status"
    @allowClear={{false}}
    @searchEnabled={{false}}
    @placeholder="Alle agendapunten"
  />
  <AuHr />
  <section class="c-advanced-filter-holder">
    <Accordion @buttonLabel="GEAVANCEERDE FILTERS" @showBottomBorder={{false}}>
      <Filters::SelectMultipleCheckboxFilter
        @id="governing-body"
        @label="Bestuursorganen"
        @options={{this.governingBodyOptions}}
        @selected={{this.governingBodyList.selected}}
        @updateSelected={{this.updateSelectedGoverningBodyClassifications}}
        @searchField="label"
        @queryParam="bestuursorganen"
      />
    </Accordion>
  </section>
</div>
<div class="c-interface__sidebar-submit-buttons">
  <AuHr />
  <AuButton @skin="primary" @width="block" {{on "click" this.goToAgendaItems}}>
    Toon resultaten
  </AuButton>
</div>